################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFunctions/.vs/AzureFunction/v16
/AzureFunctions/.vs/AzureFunction
/.vs
/APICore/.vs
/APICore/bin/Debug/netcoreapp2.0
/APICore
/AzureFunctions/AzureFunction.Fsharp/Properties/PublishProfiles
/ClassLibrary1
/Teste-unitario-fsharp/TesteUnitarioFsharp
/TupleDeconstructor
/UnidadesMedida
/AzureFunction.sln
/IEnumerableSamples
/ExtensionMethods
/StrangerThings/.vs/StrangerThings
/StrangerThings/StrangerThings.Fsharp/bin/Debug/netcoreapp2.1
/StrangerThings/StrangerThings/bin/Debug/netcoreapp2.1
/StrangerThings/StrangerThings/obj
